
body {
    /* feel free to update these css variables for a quick theme */
    
    --color1: white;
    --color2: white;
    --color3: white;
    --color4: white;
    --color5: white;
    
    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
        
    /* --color1: hsla(349, 69%, 76%, 1);
    --color2: hsla(207, 67%, 44%, 1);
    --color3: hsla(200, 61%, 56%, 1);
    --color4: hsla(187, 41%, 94%, 1);
    --color5: hsla(170, 28%, 95%, 1); */

    /* --color1: hsla(45, 86%, 83%, 1);
    --color2: hsla(135, 65%, 98%, 1);
    --color3: hsla(315, 37%, 86%, 1);
    --color4: hsla(45, 73%, 98%, 1);
    --color5: hsla(224, 40%, 79%, 1); */
    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--color2);
}

main {
    display: flex;
    justify-content: center;
    height: 100%;
}

header {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    height: var(--header-height);
    box-shadow: var(--shadow);
}

h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

.gutter-right {
    margin-right: 20px;
}

header img {
    height: var(--header-height);
}

p {
    margin: 5px;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}

.player-container, .goblin-container {
    width: 45%;
    min-height: 90%;
    height: fit-content;
    border: solid 1px black;
    margin-top: var(--gutter);
    margin-bottom: 100px;
}

.player-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-container div {
    border: solid 2px black;
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    padding: 10px 30px;
    min-width: 155px;
    text-align: center;
}

/* #player-stats{
    transform: translateY(100px);
} */

.goblin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.goblin-container input, .goblin-container button {
    height: 50px;
    width: 100%;
}

.goblin-container form {
    padding: 30px;
}


.goblins {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
    overflow: scroll;
    min-height: 300px;
    max-height: 400px;
}

.goblin {
    width: 80%;
    padding: 5px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
    border: solid black 2px;
    background-color:limegreen
}

.goblin-container div > p {
    text-align: center;
}

#player-stats {
    background-color: burlywood;
}

#defeated-goblins-div {
    background-color: burlywood;
}

.defeated {
    opacity: 0.5;
}

.hide {
    display:none;
}